server:
  port: 8888

spring:
  application:
    name: config-server

  cloud:
    config:
      server:
        git:
          uri: file:///C:/Users/noorr/OneDrive/Documents/healthcare-system/healthcare-config-repo
          # adjust to your local path to healthcare-config-repo
          default-label: master
